.contenedor{
    width: 100%;
    text-align: center;
}

h1{
    font-size: 50px;
}
.nav{
  background-color: white;
  position: fixed;
  z-index: 100;
}

nav a:visited, a:link {
  color: #607D8B;
}

nav ul{
  width: 70%;
  margin: 0 auto;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
  
}

th, td {
  text-align: center;
  padding: 8px;
}

