.description-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-color: rgba(255,255,255,0.9);
    position: absolute;
    left: 25%;
    top: 25%;
    padding: 32px;
    border-radius: 8px
}

.description-input{
    margin-bottom: 24px;
    border-radius: 8px;
}

.inputText{
    height: 24px;
    border-style: groove;
}