@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

th, td {
    text-align: center;
    padding: 8px;
  }

a{
    cursor: pointer;
}

.order-icons{
    position: absolute;
    margin-left: 4px;
}

.edition-icons{
    position: relative;
    top: 6px;
    margin-right: 4px;
}

.icon-container{
    display: block;
    text-align: center;
}

ul{
    list-style: none;
    display: flex;
}

table{
    width: 100%;
}

.block{
    display: block;
}

.close-pop-up{
    position: absolute;
    top: 8px;
    left: 95%;
}

.description-field{
    max-width: 100px;
}

.table-container{
    width: 70%;
    position: relative;
    top: 66px;
    z-index: 10;
    margin: 0 auto;
  }

.hidden{
    display: none;
}